.DS_Store
Thumbs.db
*.log
node_modules/
npm-debug.log*
yarn-error.log*
dist/
build/
bin/
obj/
*.user
*.suo
*.vs/
*.nupkg
*.cache
tib-backend/.env
tib-backend/TibBackend/appsettings.Development.json
.idea/
*.iml
.vscode/
.vs/
